.article
	%h1.article_title= @book.title
	.article_detail
		= image_tag @book.user.avatar_image
		%div
			%p= @book.author_name
			%p= @book.display_created_at
		-if user_signed_in? && current_user.has_written?(@book)
			.article_detail_actions
				.dropdown
					= image_tag 'actions.svg', class: 'dropbtn'
					.dropdown-content.mini
						= link_to '編集する', edit_book_path(@book)
						= link_to '削除する', book_path(@book), data: { method: 'delete', confirm: '本当に削除してもよろしいですか?' }
	.article_content
		= @book.content
	.article_heart
		= image_tag 'bookmark.svg'