= link_to book_path(book) do
	.card
		- if book.eyecatch.attached?
			.card_image
				= image_tag book.eyecatch
		.card_content
			.card_title
				= book.title
			.card_heart
				= image_tag 'bookmark.svg'
				%span= book.bookmark_count
			.card_detail
				= image_tag book.user.avatar_image
				%div
					%p= book.author_name
					%p= book.display_created_at